* {
  box-sizing: border-box;
}
html, body{
  margin: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  overflow-x: hidden;
  color: black;
  font-family: "Lekton";
}
body {
  background: linear-gradient(
    rgba(255, 255, 255, 0.9),
    rgba(0, 0, 0, 0.4)
    ),
    url("../images/plan2.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 2000px;
    text-align: center;
  }
  h1 {
    text-align: center;
    font-family: "Megrim";
    font-size: 3.0em;
    color: black;
    text-shadow: 0px 5.5px 5.5px white;
    margin-top: 90px;
    margin-bottom: 50px;
  }
  h2 {
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
  }
  img {
    max-width: 100%;
    max-height: 20%;
  }
  button {
    width: 15%;
    margin-left: 40%;
  }
  .btn-primary {
    background-color: rgb(98, 113, 150);
  }
  a {
    text-decoration: none;
    color: #232323;
    text-align: center;
  }
  a:hover {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  /*clothing images*/
  .thumbnail {
    margin: 0 auto;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
  }
  .thumbnail:hover {
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
    transform:scale(1.5);
  }
  /*top nav bar css*/

  .top-nav{
    width: 100%;
    min-height: 33px;
    background-color: black;
    /*background-color: rgb(22, 34, 145);*/
    margin-bottom: 10px;
  }
  .top-nav-list{
    list-style-type: none;
    margin-left: 30%;
  }
  .top-nav-list li{
    display: inline;
    font-size: 1.4em;
    padding: 10px;
    margin-right: 25px;
  }
  .top-nav-list li a{
    color: white;
  }
  .top-nav-list li a:hover {
    color: rgb(246, 246, 221);ails
  }
  /*side menu*/
  #menuToggle {
    display: block;
    position: relative;
    top: 20.5px;
    left: 60px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
  }
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    height: 100vh;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  #menu li {
    padding: 10px 0;
    font-size: 25px;
    margin-top: 5px;
  }
  #menuToggle input:checked ~ ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
  }
  .weather-forecast {
    background-color: rgba(255,255,255,0.2);
    min-height: 200px;
    transition: background-color, 1.0s ease-in;
    filter: blur(20px);
    width: 20%;
    border-radius: 10%;
  }
  /*weather forecast and temp div css*/
  .weather-forecast:hover {
    background-color: white;
  }
  .show-weather-icon {
    font-size: 22px;
  }
  #loc {
    font-size: 20px;
  }
  /*main container for outfits index.html */
  .outfits-col {
    background-color: rgba(255,255,255,0.9);
    min-height: 600px;
    font-size: 18px;
    margin-top: 40px;
  }
  /*index.html page for viewing all clothes*/
  .all-clothes-index-div{
    background-color: rgba(255,255,255,0.7);
  }
  /*file uploads form*/
  .file-uploads{
    background-color: rgba(255,255,255,0.9);
    width: 50%;
    margin: 0 auto;
    margin-top: 10%;
  }

  .file-uploads input{
    font-size: 15px;
    margin: 0 auto;
    background-color: #BBD3F6;
    width: 40%;
    display: block;
    margin-top: 1
  }
  .file-uploads input[type="submit"]{
    margin-top: 30px;
    width: 20%;
    background-color: white;
  }
  /*second nav on clothing index.html*/
  .nav-tabs {
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgb(232, 232, 232);
    width: 100%;
    border: 2px solid white;
    padding-left: 15%;
    cursor: pointer;
    cursor: hand;
  }
  .nav-item {
    font-size: 1.4em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  .nav-link {
    color: black;
    font-weight: bolder;
  }
  .dropdown-div {
    min-height: 200px;
    width: 80%;
    position: absolute;
    z-index: 100;
    margin-top: -0.5px;
  }
  .nested-dropdown-ul{
    list-style-type: none;
    font-weight: bold;
    display: none;
    text-align: center;
  }
  .nested-dropdown {
    margin-top: 10px;
    padding-bottom: 10px;
  }
  .nested-dropdown a {
    background-color: white;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    cursor: pointer;
    border-radius: 2px;
  }
  .nested-dropdown a:hover{
    box-shadow: 0 0 40px white;
  }
  .sub-nested-dropdown, .sub-nested-dropdown1 {
    display: none;
    margin-top: 30px;
    list-style-type: none;
  }
  .sub-nested-dropdown li, .sub-nested-dropdown1 li{
    width: 20%;
    display: inline-table;
    margin: 2px;
  }
  .sub-dropdown-list {
    font-size: .8em;
  }
  .caret {
    border: 5px solid transparent;
    display: inline-block;
    width: 0;
    height: 0;
    opacity: 0.9;
    /*vertical-align: top;*/
  }
  .caret-right {
    border-left: 5px solid;
  }
  .caret-down{
    border-top: 5px solid;
  }
  input[type="checkbox"]{
    -ms-transform: scale(1.4); /* IE */
    -moz-transform: scale(1.4); /* FF */
    -webkit-transform: scale(1.4); /* Safari and Chrome */
    -o-transform: scale(1.4); /* Opera */
  }
  label {
    margin-right: 6px;
    margin-left: 6px;
    margin-bottom: 3px;
    font-size: 1em;

  }
  .clothing-show-img{
    width: 35%;
  }
  /*div container for images on clothes index.html page for images*/
  .hovereffect {
    width: 40%;
    min-height: 220px;
    max-height: 220px;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    margin: 5px auto;
    color: white;
  }

  .hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 95%;
    left: 10%;
    top: 5%;
    /*border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;*/
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    -ms-transform: scale(0,1);
    transform: scale(0,1);
  }

  .hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }

  .hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
  }

  .hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    background-color: transparent;
    color: #FFF;
    padding: 0.5em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
  }

  .hovereffect a, hovereffect p {
    color: #FFF;
    padding: 0.5em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
  }

  .hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  .responsive-menu, .responsive-menu ul {
    display: none;
  }
  .image-photo {
    width: 50%;
    margin: 0 auto;
    min-height: 225px;
    max-height: 225px;
    overflow: hidden;
    margin-top: 2px;

    /*min-height: 2%;*/
  }
  .image-photo img {
    margin: 0 auto;
  }
  .image-button {
    margin: 0 auto;
    width: 25%;
  }
  .image-button a {
    color: white;
  }
  /*Login Form CSS BELOW*/
  input ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  input ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  input :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  input:focus {
    outline: 0 transparent solid;
  }
  input:focus ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.7);
  }
  input:focus ::-moz-placeholder {
    color: rgba(0, 0, 0, 0.7);
  }
  input:focus :-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.7);
  }

  .login-form {
    min-height: 10rem;
    margin: auto;
    max-width: 50%;
    padding: .5rem;
  }

  .login-text {
    color: white;
    font-size: 1.5rem;
    margin: 0 auto;
    max-width: 50%;
    padding: .5rem;
    text-align: center;
  }
  .login-text .fa-stack-1x {
    color: black;
  }

  .login-username, .login-password {
    background: transparent;
    border: 0 solid;
    border-bottom: 3px solid rgba(255, 255, 255, 1.0);
    color: white;
    display: block;
    margin: 1rem;
    padding: .5rem;
    -webkit-transition: 250ms background ease-in;
    transition: 250ms background ease-in;
    width: calc(100% - 3rem);
  }
  .login-username:focus, .login-password:focus {
    background: white;
    color: black;
    -webkit-transition: 250ms background ease-in;
    transition: 250ms background ease-in;
  }

  .login-forgot-pass {
    bottom: 0;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 75%;
    left: 0;
    opacity: 0.6;
    padding: .5rem;
    position: absolute;
    text-align: center;
    width: 100%;
  }
  .login-forgot-pass:hover {
    opacity: 1;
  }

  .login-submit {
    border: 1px solid white;
    background: transparent;
    color: white;
    display: block;
    margin: 1rem auto;
    min-width: 1px;
    padding: .25rem;
    -webkit-transition: 250ms background ease-in;
    transition: 250ms background ease-in;
  }
  .login-submit:hover, .login-submit:focus {
    background: white;
    color: black;
    -webkit-transition: 250ms background ease-in;
    transition: 250ms background ease-in;
  }

  [class*=underlay] {
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
  }

  .underlay-photo {
    -webkit-animation: hue-rotate 6s infinite;
    animation: hue-rotate 6s infinite;
    background: url("http://31.media.tumblr.com/41c01e3f366d61793e5a3df70e46b462/tumblr_n4vc8sDHsd1st5lhmo1_1280.jpg");
    background-size: cover;
    -webkit-filter: grayscale(30%);
    z-index: -1;
  }

  .underlay-black {
    z-index: -1;
  }

  @-webkit-keyframes hue-rotate {
    from {
      -webkit-filter: grayscale(30%) hue-rotate(0deg);
    }
    to {
      -webkit-filter: grayscale(30%) hue-rotate(360deg);
    }
  }

  @keyframes hue-rotate {
    from {
      -webkit-filter: grayscale(30%) hue-rotate(0deg);
    }
    to {
      -webkit-filter: grayscale(30%) hue-rotate(360deg);
    }
  }

  /*Second Login Form*/

  .container {
    margin: 50px auto;
    width: 70%;
  }

  .login {
    margin: 0 auto;
    width: 100%;
    max-width: 520px;
    background: url('https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xfa1/t31.0-8/12244631_10207346713641237_8758471343492268820_o.jpg') no-repeat;
    background-size: cover;
    box-shadow: 0 20px 55px rgba(0, 0, 0, 0.8);
    padding: 90px 60px 50px 60px;
  }

  .tabs {
    margin-bottom: 90px;
    padding-left: 20px;
    span a {
      display: inline-block;
      color: #FFF;
      font-size: 1.4em;
      border-bottom: 2px solid #1161f0;
      padding-bottom: 5px;
      margin-right: 40px;
      text-decoration: none;
    }
    .inactive {
      border-bottom: none;
      padding-bottom: 0;
      margin-right: 0;
      opacity: 0.4;
    }
  }

  form {
    margin-bottom: 80px;
    ul {
      list-style: none;
      padding-left: 0;
    }
    li {
      position: relative;
      display: block;
      margin-bottom: 45px;
    }
    .checkbox {
      margin-top: -15px;
      padding-left: 20px;
      margin-bottom: 30px;
    }
    .label-float {
      font-size: 0.9em;
      padding: 12px 20px;
      display: block;
      width: 100%;
      border: none;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.1);
      color: #FFF;
      font-size: 0.9em;
    }
    .label-float:focus {
      outline: none;
    }
    .label-float:focus ~ label,
    .label-float:valid ~ label {
      top: -25px;
      opacity: 0.6;
      font-size: 0.75em;
    }
    .floating {
      color: #FFF;
      font-size: 0.8em;
      position: absolute;
      pointer-events: none;
      left: 20px;
      top: 13px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    button {
      display: block;
      text-align: center;
      background: rgb(58, 96, 233);
      color: #FFF;
      border-radius: 20px;
      padding: 12px 0;
      width: 100%;
      border: none;
      font-size: 0.85em;
      font-weight: bold;
      cursor: pointer;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    button:hover {
      background: darken(rgb(58, 96, 233), 10%);
    }
    input[type="checkbox"] {
      padding: 5px;
      cursor: pointer;
    }
    label {
      font-size: 0.9em;
      color: #FFF;
    }
  }

  input[type=checkbox].css-checkbox {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }

  input[type=checkbox].css-checkbox + label.css-label {
    padding-left: 21px;
    height: 16px;
    display: inline-block;
    line-height: 16px;
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: middle;
    cursor: pointer;
  }

  input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -16px;
  }

  label.css-label {
    background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_a806045301ffb949c486ac3eeaf74e4d.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .footer {
    text-align: center;
    padding-top: 50px;
    border-top: 2px solid #2f3249;
    a {
      color: #545561;
      text-decoration: none;
      font-size: 1em;
    }
    a:hover {
      color: lighten(#545561, 35%);
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
  }

  .input-group {
    width: 30%;
    margin: 0 auto;
    margin-top: 30px;
  }
  .input-group input {
    margin: 0 auto;
    margin-right: 10px;
  }

  .search-button {
    width: 80px;
  }
  .save-icon {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    color: black;
  }

  .save-icon:hover {
    color: rgb(255, 138, 122);
    text-shadow: 2px 2px 5px rgb(255, 171, 159);
    font-size: 1.2em;
  }

  .clothing-div-info {
    margin-top: 40px;
  }
  .img-button-todays-clothing {
    width: 10%;
  }
  .image-div-home {
    width: 25%;
    display: inline-table;
    margin: 10px;
  }
  .home-image {
    width: 100%;
    height: 200px;
  }

  /*show page for individual photos*/
  .photo-show {
    width: 75%;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.8);
    min-height: 500px;
  }
  .icons {
    background: #58A199;
    margin-top: 10px;
    padding: 8px;
    margin-bottom: 20px;
  }
  .photo-fa-icons {
    color: white;
    font-size: 1.5em;
    margin: 2px 25px;
  }
  .photo-fa-icons:hover {
    text-shadow: 1px 1px 60px rgb(208, 255, 131);
    font-weight: bolder;
  }
  .photo-show-image-div {
    width: 75%;
  }
  .photo-show-div {
    display: inline;
  }
  .photo-remove {
    margin: 0 auto;
  }
  .home-h3-recent {
    margin-top: -1px;
    margin-bottom: 20px;
  }
  /*clothing show main div*/
  .clothing-show {
    width: 75%;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.8);
  }
