<ul class="nav nav-tabs">
  <li class="nav-item">
    <a data-ng-model="clothingType" data-ng-click="clothingType='Shirt'" class="nav-link">Shirts</a>
  </li>
  <li class="nav-item">
    <a data-ng-model="clothingType" data-ng-click="clothingType='Dress'" class="nav-link">Dresses</a>
  </li>
  <li class="nav-item">
    <a data-ng-model="clothingType" data-ng-click="clothingType='Pant'" class="nav-link">Pants</a>
  </li>
  <li class="nav-item">
    <a data-ng-model="clothingType" data-ng-click="clothingType='Short'" class="nav-link">Shorts</a>
  </li>
  <li class="nav-item">
    <a data-ng-model="clothingType" data-ng-click="clothingType='Skirt'" class="nav-link">Skirts</a>
  </li>
</ul>
